<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=1024"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>Presentation</title>

		<meta name="description" content=""/>
    <meta name="author" content="Mikkel Ricky"/>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet"/>

		<link href="stylesheets/presentation.css" rel="stylesheet"/>

    <link rel="shortcut icon" href="favicon.png"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
	</head>
	<body>
		<article id="impress" class="dwcontent" data-transition-duration="200">
			<section class="slide-title">
				<header><h1>Title</h1></header>

				<div class="content">
					Mikkel Ricky<br/>
					2013-02-28
				</div>
			</section>

			<section class="slide-default">
				<header><h1>Agenda</h1></header>

				<div class="content">
					<ul>
						<li>x</li>
						<li>x</li>
						<li>x</li>
					</ul>
				</div>

			</section>
			<section class="slide-empty">
				<header>
				<h1>Questions?</h1></header>
			</section>
		</article>

		<!-- <div id="logo">Dynamicweb</div> -->
		<!-- <div id="status"></div> -->

		<script src="javascripts/lib/impress.js"></script>
		<script src="javascripts/lib/jquery-1.9.1.min.js"></script>
		<script src="javascripts/presentation/presentation.js"></script>
	</body>
</html>
